# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Database
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Temporary uploads and generated images
dashboard/static/*.jpg
dashboard/static/*.png
